<div id="wrapper">
    <div class="animate form">
        <form > 
        <h1>Log in</h1>
        <h5>Dont have an account?<a href="#/register"> Sign Up</h5>
        </p> 
        <p> 
            <label for="username" class="uname" data-icon="u" > Your Email</label>
            <input id="username" name="username" required="required" type="text" placeholder="Email"/>
        </p>
        <p> 
            <label for="password" class="youpasswd" data-icon="p"> Your password </label>
            <input id="password" name="password" required="required" type="password" placeholder="Password" /> 
        </p>
        <p class="keeplogin"> 
            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
            <label for="loginkeeping">Keep me logged in</label>
            <a href="">Forget Password?</a>
        </p>
        <p class="login button"> 
            <input type="submit" value="Login" /> 
        </p>
        </form>
</div>

