<div id="wrapper">
	<div id="signUp" class="animate form">
	    <form > 
		    <h1> Sign up </h1>
		    <h5>Already have an account?<a href="#/login"> Log in </a></h5>
		    <p> 
		    	<label for="firstnamesignup" class="uname" data-icon="u">Firstname</label>
		    	<input id="firstnamesignup" name="" required="required" type="text" placeholder="firstname" />
		    </p>
		    <p> 
		        <label for="lastnamesignup" class="uname" data-icon="u">Lastname</label>
		       	<input id="lastnamesignup" name="" required="required" type="text" placeholder="lastname" />
		    </p>
		    <p> 
		   		<label for="emailsignup" class="youmail" data-icon="e" >Email</label>
		    	<input id="emailsignup" name="" required="required" type="email" placeholder="mysupermail@mail.com"/> 
		    </p>
			<p> 
		        <label for="passwordsignup" class="youpasswd" data-icon="p">Password </label>
		        <input id="passwordsignup" name="" required="required" type="password" placeholder="eg. X8df!90EO"/>
		    </p>
		    <p> 
		    	<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
		    	<input id="passwordsignup_confirm" name="" required="required" type="password" placeholder="eg. X8df!90EO"/>
		    </p>
		    <p> 
		    	<label for="address_info" class="youpasswd" data-icon="u">Current Address</label>
		    	<input id="address_info" name="" required="required" type="text" placeholder="eg. Banilad,Cebu City"/>
		    </p>
		    <p> 
		        <label for="contact_info" class="youpasswd" data-icon="u">Contact Number</label>
		        <input id="contact_info" name="" required="required" type="text" placeholder="eg.+63912900...."/>
		    </p>
		    <p> 
		        <label for="contact_info" class="youpasswd" data-icon="u">Card Number</label>
		        <input id="contact_info" name="" type="text" placeholder="Debit/Credit Card Number/Optional"/>
		    </p>
		    <p style = "font-size:11.5px;">By creating your account, you agree to our <strong style="color:#2b60de;">Terms of Service </strong>and <strong style="color:#2b60de;">Privacy Policy</strong>.</p>
		    <p class="signin button"> 
				<input type="submit" value="Sign up"/> 
			</p>
		</div>
		</form>

</div>
