<signUp title="Sign Up" visible="showModal">
	<div class="face back"> 
		<div class="panel panel-default">
			<form class="form-horizontal"><br>
	            <!-- PNC LOGO  <br>-->
				<label>Basic Information</label>
				<input class="form-control" placeholder="First Name"/>
				<input class="form-control" placeholder="Last Name"/>
				<input class="form-control" placeholder="Email"/>
				<label>Private Information</label>
				<input class="form-control" placeholder="Password"/>
				<input class="form-control" placeholder="Mobile Number"/>
				<button class="btn btn-primary btn-block">SIGN UP</button>
				<p class="text-center">
					<a href="#/signIn" class="fliper-btn">Already have an account?</a>
				</p>					               					                 				               					       
		    </form>
		</div>
	</div>
</signUp>